# C extensions
*.so
*.o

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode

# Stats
perf*
!perf.codon

# 3rd party # TODO: #4 Add as submodules
seq/
old_seq/
scripts/seqan
scripts/ganon_helpers/seqan3
scripts/ganon_helpers/build
lib/lattigo

# Network
sock.*

# Data
data/king/
cache/
tests/data/gwas/input/__*
tests/data/dti/input/__*
results/*.txt

# Project specific
temp*
paper
hide.*
obsolete/
log*.txt
_dump*
_encoding*
build
